* {

box-sizing: border-box;
margin: 0;
padding: 0;

}


@font-face {
  font-family: 'Lora';
  src: url('Lora-Regular.ttf');
}
:root {

  --alabaster: #EAE6DDff;
  --avocado: rgba(81, 116, 17, 0.848);
  --walnut-brown: rgba(89, 79, 60, 0.845);
  --wood: rgba(48, 43, 34, 0.847);
  --ecru: #B9AA7Aff;
  --dark-green: #20280Dff;
  --tortilla:  rgba(156, 156, 84, 0.732);
  --chili: rgba(213, 83, 22, 0.732);
}
html{
  scroll-behavior: smooth;
  font-size: 16px;
  font-family: 'Lora', serif;
  background: url(img/tacos_bg.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
header{
  width: 80%;
  height: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  flex-direction: column;
  border-bottom-left-radius: 30%;
  border-bottom-right-radius: 30%;
}
#nimi{
  width: 100%;
   color: var(--alabaster);
   background-color:var(--avocado);
   line-height: 1.2em;
   display: block;
   font-size: 5em;
   font-style: italic;
   font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 2px 2px var(--dark-green);
   border: 15px solid var(--walnut-brown);
   border-radius: 0%;
   overflow: hidden;
   text-align: center;

 }
.nav{
  display: flex;
height: 20%;
background-color: var(--dark-green);
width: 100%;
justify-content: space-between;
}
#ol2{
  display: none;
}
.nav ol{
  width: 100%;
  display: flex;
  list-style: none;
  text-align: center;
  justify-content: space-around;

}

.nav ol li{
  margin: 0.5em;
  width: 100%;

}

.nav ol li a{
  text-decoration: none;


  color: var(--alabaster);
  transition: all .4s;
  position: relative;
  z-index: 1;
}

.nav ol li a:hover{
  color: var(--avocado);
  border-bottom: solid 5px var(--avocado);
}
#welcome{
  background: url(img/ingredientes.png) no-repeat center;
  height: 30em;;
  width: 100%;
  border-radius: 0% 0% 25px 25px;
  display: flex;
  text-align: center;
  color: var(--alabaster);
}

#text_content{
  justify-content: center;
  align-content:center;
  display: flex;

  color: var(--alabaster);
  flex: 1;
  flex-direction: column;
  flex-wrap: wrap;
}
#text_content h1{
  color: var(--old-gold);
  font-style: italic;
  text-shadow: 2px 2px 2px var(--dark-green);
  font-size: 4em;

}
#text_content h2{
  color: var(--avocado);
  font-style: italic;
  text-shadow: 2px 2px 2px var(--dark-green);
  align-self: flex-end;
  font-size: 3em;
  margin-bottom: 1em;
}
#text_content p{
  font-size: 1.5em;
  margin-bottom: 1em;
  text-shadow: 2px 2px 2px var(--dark-green);
  font-style: italic;
  color: var(--alabaster);
  align-self: flex-end;

}

#welcome ul{
  flex:2 ;
}

body {
margin: 0;

}
.tacos_bg{
  filter: saturate(0.9);
}
body:has(dialog[open]){
 background-color: var(--old-gold);
overflow-y: hidden;

}

p{
  color:  var(--alabaster);
}

main {
margin: 16px auto;
padding: 0%;
width: 80%;
overflow: hidden;
position: initial;
top: 0;
border-radius: 25px;
z-index: initial;


}


h3{
margin: auto;

}
.rating{
  display: flex;
  margin: auto;
  align-items: center;
  flex-direction: column;
  background-color: var(--wood);
  border-radius: 25px;
  width: 80%;
  margin-top: 2%;

}
.rating h2{
  color: var(--alabaster);
  font-size: 3em;
  text-shadow: 2px 2px 2px var(--dark-green);
  padding: 5%;
}
.rating ol{
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  padding-bottom: 5%;
  justify-content: space-evenly;
}
.rating ol button{
  background-color: var(--avocado);
  border: none;
  transition: all .4s;
  color: var(--alabaster);
width: 30%;


}

.specialities{

  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  row-gap: 10px;
  column-gap: 10px;
  height: auto;
  text-align: center;
  border-radius: 25px;
  margin-bottom: 10%;
  column-width: 50px;


}
.specialities img {
  border-radius: 25px;
  overflow: hidden;
  filter: saturate(1.2);
  width: 75%;

}
.specialities p{
  color: var(--dark-green);
  font-size: 2em;
  text-shadow: 1px 1px 1px var(--dark-green);
  padding: 5%;
}
.specialities h2{
  padding-bottom: 15%;
  padding-top: 5%;
  color: var(--dark-green);
  font-size: 3em;
  text-shadow: 2px 2px 2px var(--alabaster);


}

.pork{

  background-color: var(--avocado);
  color:var(--alabaster);
  border-radius: 25px;
  overflow: hidden;
}



.beef{
  background-color: var(--tortilla);
  color:var(--alabaster);
  border-radius: 25px;
  overflow: hidden;
}

.shrimp{
  background-color: var(--tortilla);
  color:var(--alabaster);
  border-radius: 10%;
  overflow: hidden;
}


.spider{
  background-color: var(--avocado);
  color:var(--alabaster);
  border-radius: 25px;
  overflow: hidden;

}



.laatikko{
  background-color: rgba(96, 41, 178, 0);
  height: 100px;
  width: 100px;
  position: absolute;
  left: 60%;
  bottom: 35%;
  z-index: 2;

transform: translateY(2380%);
}
.laatikko img{
  align-content:baseline ;
  height: 150px;
  resize: both;
  filter:brightness(30%)
}

#infoLaatikko{
  min-height: 300px;
  margin-top: 30%;
  margin-bottom: 10%;
  border-radius: 25px;
  background: var(--walnut-brown);
  width: auto;
  padding: 25px;
  overflow: auto;
  position: inherit;
  top: 0;
  z-index: 1;


  }
  .taco {
  width: 250px;
  height: auto;
  float: left;
  margin-right: 32px;
  padding: 10px;
  margin-top: 50px;
  border-radius: 10%;
  margin-bottom: 50px;
  filter: saturate(1.7);
  }

  .infoTeksti{
  margin-top: 5%;
  color: var(--alabaster);
  text-align: left;
  padding: 0%;
  font-size: 3em;
  font-weight: bold;
  text-shadow: 2px 2px 2px var(--dark-green);

  }
  .infoTeksti2{
  margin: top 1pc;
  color: var(--dark-green);
  font-size: 1.5em;
  font-weight: bold;

  }

footer{
background-color:var(--alabaster);
height: auto;
text-align: center;
padding: 20px 0;
margin: 0%;
}


@media only screen and (max-width: 850px){
  html{
    background-color: #d3c4a7;
    opacity: 1;
    background-image:  linear-gradient(135deg, rgba(77, 117, 2, 0.68) 25%, transparent 25%), linear-gradient(225deg, rgba(77, 117, 2, 0.68) 25%, transparent 25%), linear-gradient(45deg, rgba(77, 117, 2, 0.68) 25%, transparent 25%), linear-gradient(315deg, rgba(77, 117, 2, 0.68) 25%, #d3c4a7 25%);
    background-position:  21px 0, 21px 0, 0 0, 0 0;
    background-size: 21px 21px;
    background-repeat: repeat;
  }
  .taco{
    width: 100%;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 0;

  }
  header{
    justify-content:space-between ;
    padding: 0.2em;
    z-index: 2;

  }
  .nav{
    width: 15%;
    margin-right:auto;
    top: 10%;
    justify-content: space-around;
    transition: all .4s;
    z-index: 2;
    flex-direction: row;
    flex: 0;
    position: fixed;
    background-color: rgba(210, 180, 140, 0);

  }
  ol{
    margin: 0;
   font-size: 1;

  }
  .nav ol{
    flex-direction: column;
    text-align: center;
    position: relative;
    background-color: var(--dark-green);
    height: 250px;
    width: auto;
    margin-right: 600%;
    margin-top: 0%;
    border-radius: 0px 25px 25px 0px;


  }
  .nav ol li a{

    font-size: 1.2em;


  }
 #open_dialog{
  width: 80%;
  height: 50px;
  align-self: center;
  border: none;
 }
  #nimi{
     width: 100%;
      font-size: 3em;

  }
#welcome {
  flex-wrap: wrap;
  font-size: .8em;
  flex-direction: column;
  text-align: center;
  flex: 2;
}
p{

  text-align: center;
}

#text_content{
  flex: 1;
  margin: 0;
  padding: 0;
  text-align: center;
  align-content: center;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 1em;
}
.specialities p{
  font-size: 1.2em;

}
.specialities h2{
  font-size: 2em;

}


#infoLaatikko {
text-align: center;
margin-top: 0%;

}
.laatikko{
  display: none;
}

.infoTeksti{
  font-size: 2em;
  text-align: center;
}
}
@media only screen and (max-width: 1360px) and (min-width: 850px){


#welcome{
  flex-direction: column;

}
#infolaatikko{
  text-align: center;
  margin-top: 0%;

}
.taco{
  width: 100%;
  margin: 0%;
  padding: 0;
  margin-bottom: 10px;
  margin-top: 0;
  border-radius: 25px;

}
.laatikko{
  display: none;
}
}
